<!DOCTYPE html>
<html>
<head>
  <title>BBX Production / Corrugate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="/">BBX Production / Corrugate</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/parts">Parts</a></li>
          <li><a href="/builds">Builds</a></li>
          <li><a href="/build_parts">Build Parts</a></li>
          <li><a href="/production_schedule">Production Schedule</a></li>
      </ul>
      <p class="navbar-text pull-right">
    </div>
  </div>
</nav>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<div class="wrap">
  <div class="container">
    <%= yield %>
  </div>
</div>
<div class="footer navbar-fixed-bottom navbar-default">
  <div class="container">
    <p class="text-center">BBX Production / Corrugate</p>
  </div>
</div>

</body>
</html>
